---
import { ModeWatcher } from 'mode-watcher';
import iconSrc from '$lib/icon.png';
import './global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href={iconSrc.src} type="image/png" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<slot />
		<ModeWatcher client:load />
	</body>

	<script is:inline>
		const isBrowser = typeof localStorage !== 'undefined';
		const getThemePreference = () => {
			if (isBrowser && localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		};
		const isDark = getThemePreference() === 'dark';
		document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

		if (isBrowser) {
			const observer = new MutationObserver(() => {
				const isDark = document.documentElement.classList.contains('dark');
				localStorage.setItem('theme', isDark ? 'dark' : 'light');
			});
			observer.observe(document.documentElement, {
				attributes: true,
				attributeFilter: ['class']
			});
		}
	</script>
</html>
